/* CSS declarations go here */
.pre {
    white-space: pre;
}

/* MENU */

.demo-layout-transparent {
    background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

/* GENERAL */
.hidden {display: none;}

/* MATERIALIZE OVERRIDE */
h1 {
    font-size: 2.2rem;
    line-height: 110%;
    margin: 0px;
}

h3 {
    font-size: 1.20rem;
    line-height: 110%;
    margin: 8px 0px 0px 0px;
}

/* HOMEPAGE */
.update.news .profile img {
    width: 100px;
    height: 100px;
}