@charset 'UTF-8';

//
// VARIABLES
//
$yellow : #DEFF00
$black : #1A1A1A
$blue : #0055A1
$blueLink : #0571BA
$lightGrey : #E4E4E4
$greyText : rgba(0,0,0,0.53)

//
// MIXINS
//
=bg()
    background-size: cover
    background-position: center
    background-repeat: no-repeat

=anim()
    transition: all 0.2s
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    -o-transition: all 0.2s
    -ms-transition: all 0.2s

=verticalCenter()
    top: 50%
    transform: translateY(-50%)

=icon($src, $width, $height)
    background-image: url($src)
    background-repeat: no-repeat
    background-size: $width
    width: $width
    height: $height  

=absoluteCenter()
    position: absolute
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto

=absoluteTop($top)
    position: absolute
    top: $top

=absoluteBottom($bottom)
    position: absolute
    bottom: $bottom

//
// INTERFACE
//
.button
    padding: 10px 15px
    border-radius: 2px
    font-size: 14px
    font-weight: 400    
    text-transform: uppercase
    text-decoration: none!important
    margin-right: 10px
    +anim()
.button.grey:hover,
.button.blue  
    color: white
    background: $blue!important
.button.blue:hover,
.button.grey
    color: $blue
    background: $lightGrey!important



//
// GENERAL
//
body
    background-color: $lightGrey
.row 
    h1
        a
            font-size: 16px
            font-weight: bold
    h3
        font-size: 14px
        color: $greyText
    p
        font-size: 13px
    .infos
        font-size: 12px
        color: $greyText
    a
        color: $blue
        text-decoration: underline
    .card 
        box-shadow: none
        .card-content

@media only screen and (min-width: 601px)
    .main.container
        width: 470px!important
    .main.container.af
        width: auto!important

//
// GENERAL : CARD
//
.card
    h1
        font-size: 16px
        margin: 0px 0px 10px 0px
    h3
        font-size: 14px
        margin: 0px 0px 10px 0px
    P
        font-size: 13px
        margin: 0px 0px 10px 0px
    a.profile
        
    img.responsive-img


//
// GENERAL : HEADER
//
.header
    nav.header-nav
        background-color: $black
    #logo-container
        font-size: 21px
        background-image: url("/images/logo.png")
        background-position: 23px 23px
        background-size: 22px 22px
        background-repeat: no-repeat
        padding-left: 60px
        margin-left: 50px
    .button-collapse
        display: block
    ul
        li
            a
                color: rgba(255,255,255,0.7)
    ul#nav-mobile
        li
            a
                color: $black
    .profile
        width: 40px
        height: 40px
        background-repeat: no-repeat
        background-size: cover
        border-radius: 100px
        margin-top: 11px
        margin-left: 20px
    .active
        border-bottom: 11px #DEFF00 solid
        height: 64px
        color: white
    .people.active
        background-image: url("/images/members-active.png")
    .people
        background-image: url("/images/members.png")
        background-position: 0px 19px
        padding-left: 32px
        background-size: 22px 22px
        background-repeat: no-repeat
        margin-left: 14px
    .projects.active
        background-image: url("/images/screw-active.png")
    .projects
        background-image: url("/images/screw.png")
        background-position: 0px 23px
        padding-left: 29px
        background-size: 19px 19px
        background-repeat: no-repeat
        margin-left: 14px
    .login
        border: 1px solid white
    .signup
        background: $yellow
        border: 1px solid $yellow
        color: $black
    .button
        border-radius: 5px
        font-weight: bold
        height: 37px
        line-height: 2px
        padding: 20px
        text-transform: uppercase
        margin: 10px 10px 10px 10px


//
// BLOCK-GENERAL
//

.xcBlock
    margin-bottom: 0px
    .card:hover
        box-shadow: 0px 0px 4px rgba(0,0,0,0.3)


//
// BLOCK-CRUD
//
.crud-block
    margin-top: 20px
    padding: 0px
    .card
        .header
            padding: 30px
            background: $blue
            display: block
            font-size: 21px
            color: white
            font-weight: 400
            margin-top: 0px
        .content
            position: relative
            padding: 20px  
            .btn-danger
                background: #B33939
                bottom: 40px
                right: 20px
                position: absolute
            .collection
                border: none
                .collection-item
                    position: relative
                    border-bottom: 0px solid #e0e0e0
                    .autoform-add-item
                        position: absolute
                        right: 50px
                        z-index: 2;
                    .js-af-select-file
                        position: absolute
                        top: -80px
                        right: 210px
                    .autoform-remove-item
                        position: absolute
                        top: -130px
                        right: 50px
                        background: #B33939
                    .card-panel
                        box-shadow: none
                        padding: 0px
                        margin: 0px
                .input-field
                    label
                        display: none
            input[type="file"].hidden
                display: none
//
// BLOCK-AF
//
.btn
    background: $blue
.btn:hover
    background: $blueLink

.main.container.af
    .col.s12.m8
        background: white
        margin-top: 20px
        padding: 0px
        .at-form
            .row
                margin: 0px
            h3
                padding: 30px
                background: $blue
                display: block
                font-size: 21px
                color: white
                font-weight: 400
                margin-top: 0px
            .at-pwd-form,
            .at-signup-link,
            .at-signin-link,
                padding: 20px


input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea 
    &:disabled, &[readonly="readonly"] 
        color: $blue
        border-bottom: 1px dotted $blue
    &:focus:not([readonly]) 
        border-bottom: 1px solid $blue
        box-shadow: 0 1px 0 0 $blue

//
// BLOCK-PROJECT
//
.projectBlock
    .card 
        .card-content
            padding: 0px 0px
            .title 
                background: $blue
                padding: 30px 30px 20px 30px
                a
                    color: white
                    font-size: 21px
                    font-weight: 400
            .illustration
                a
                    height: 220px
                    width: 100%
                    display: block
                    +bg()
            .creator
                background: $blueLink
                position: relative
                height: 50px
                padding: 0px 30px 0px 30px
                a
                    color: white
                    font-size: 14px
                    font-weight: 400
                .avatar
                    a
                        position: absolute
                        top: 0px
                        left: 30px
                        display: block
                        width: 50px
                        height: 50px
                        +bg()
                .username
                    a
                        color: white
                        font-size: 14px
                        position: absolute
                        top: 17px
                        left: 100px
            .description
                padding: 30px 30px 20px 30px
                font-size: 13px
                border-bottom: 1px solid rgba(0,0,0,0.2)
            .ctas
                padding: 20px 30px
                .buttons-wrapper
                    clear: both
                    height: 45px
                    .join
                    .more


//
// BLOCK-USER
//
.userBlock
    .card 
        .card-content
            padding: 30px 40px
            .section-1
                margin-bottom: 0px
                .profile
                    padding: 0px
                    a
                        height: 80px
                        width: 80px
                        +bg()
                        display: block
                .description


//
// BLOCK-PROFILE
//


.profileBlock
    .card
        .card-content
            padding: 0px
            .row
                margin: 0px
            .label
                color: black
                font-weight: 600
            .section-1
                h1
                    font-size: 21px
                .profile
                    padding: 0px
                    a
                        +bg()
                        width: 120px
                        height: 120px
                        display: block
                .description
                    padding: 20px
            .section-2.description
                padding: 20px
                color: rgba(0,0,0,0.8)
            .section-3.status
                background: $yellow
                padding: 20px
                color: rgba(0,0,0,0.8)

            
//
// BLOCK-news
//
.newsBlock
    h1
        font-size: 16px
        margin: 0px 0px 10px 0px
    h3
        font-size: 14px
        margin: 0px 0px 10px 0px
    P
        font-size: 13px
        margin: 0px 0px 10px 0px
    .row
        margin-left: 0px
        margin-right: 0px
        .profile
            a
                +bg()
                width: 80px
                height: 80px
                display: block
        .description
            margin-bottom: 20px
        img.responsive-img
            //height : 20vw
            //width : 20vw
            //max-width: 20vw

//
// BLOCK-PICTURE
//
.pictureBlock
    img
        height: 190px
//
// PROJECTS
//
.create-block
    margin-bottom: 0px
    a
        .card
            position: relative
            padding: 20px
            .icon-add
                +icon("../images/icon-add.png", 20px, 20px)
                margin-left: 30px
            .label
                color: $greyText
                position: absolute
                top: 20px 
                left: 100px
                text-transform: uppercase
        
        
/* HOME */
.home.template
    .homeBlock
        margin-bottom: 0px
        

    .news
        .card 
            .card-content
                border-top: 5px $blue solid
                padding: 30px 40px
            .profile
                padding: 0px
    


